# Node
node_modules/

# React
frontend-react/node_modules/
frontend-react/build/
frontend-react/dist/

# Java / Maven
java-inventory-service/target/

# Backend uploads
backend-node/uploads/

# IDE
.vscode/

# Java crash logs
hs_err_pid*.log